.newUser{
    flex: 4;

    .newUserForm{
        display: flex;
        flex-wrap: wrap;

        .newUserItem{
            width: 400px;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-right: 20px;

            label{
                margin-bottom: 10px;
                color: rgb(195, 195, 195);
                font-weight: 600;
            } 

            input{
                height: 20px;
                padding: 10px;
                border: 1px solid gray;
                border-radius: 5px;
            }

            .newUserGenderContainer{
                // display: flex;
                // align-items: center;

                input{
                    height: auto;
                    margin-top: 15px;
                }

                label{
                    margin:10px;
                    font-size: 18px;
                    color: gray;
                }
            }

            .newUserSelect{
                height: 40px;
                border-radius: 5px;
            }
        }

        .newUserButton{
            width: 400px;
            height: 40px;
            border: none;
            background-color: darkblue;
            color: wheat;
            padding: 7px 10px;
            font-weight: 600;
            border-radius: 5px;
            margin-top: 120px;
            cursor: pointer;
            margin-left: 420px;
        }
    }
}