.userList{
    flex: 4;
    // background-color: greenyellow;

    .userNameContainer{
        display: flex;
        align-items: center;

        .userNameImage{
            height: 35px;
            width: 35px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .userActionsContainer{
        display: flex;
        align-items: center;
        
        .userActionsEdit{
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            background-color: greenyellow;
            margin-right: 20px;
            cursor: pointer;
        }
        .userActionsDelete{
            color: red;
            cursor: pointer;
        }
    }
}